body {
    background-color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    width: 200px;
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
    height: 100vh;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 5%;
}

.sidebar a:hover {
    background-color: #6c1a1a;
}

.sidebar span {
    margin-right: 10px;
    margin-left: 10px;
}

.sidebar a.active {
    font-weight: bold;
}
